@model OSRSBossTracker.Models.UsersModel
@{
    ViewBag.Title = "Stats";
}

<h2 style="color:#fff">@Model.Name</h2>

<div>
    <table class="table">
        <tr>
            <th style="color:#fff">Boss Name</th>
            <th style="color:#fff">Kill Count</th>
            <th style="color:#fff">Rank</th>
        </tr>
        <tr>
            <td>
                @foreach (var s in Model.BossList)
                {
                    @Html.DisplayFor(model => s)
                    <br />
                }
            </td>
            <td>
                @foreach (var s in Model.Bosses)
                {
                    if (s.Kc == "-1")
                    {
                        @Html.Raw("Unranked")
                    }
                    else
                    {
                        @Html.DisplayFor(model => s.Kc)
                    }
                    <br />
                }
            </td>
            <td>
                @foreach (var s in Model.Bosses)
                {
                    if (s.Rank == "-1")
                    {
                        @Html.Raw("Unranked")
                    }
                    else
                    {
                        @Html.DisplayFor(model => s.Rank)
                    }
                    <br />
                }
            </td>
        </tr>
    </table>
</div>