@model OSRSBossTracker.Models.UsersModel
@{
    ViewBag.Title = "Stats";
}

@*<h2 style="color:#fff">@Model.Name</h2>*@

<div>
    @if (Model.Players.Count == 0)
    {
        <h2 style="color: #ff8c00; transform: translate(40%, -50%)">@Html.Raw("User not found")</h2>

    }
    else
    {
        <table class="table" id="playerTable">
            <tr>
                <th style="color:#fff">Position</th>
                <th style="color:#fff">Player Name</th>
                <th style="color:#fff">League Points</th>
                <th style="color:#fff">Total Level</th>
            </tr>

            @for (int i = 0; i < Model.Players.Count; ++i)
            {
                <tr>
                    <td style="color: #ff8c00">
                        @Html.Raw((i + 1).ToString())
                    </td>
                    <td>
                        @Html.DisplayFor(model => Model.Players[i].Name)
                    </td>
                    <td style="color: #ff8c00">
                        @if (Model.Players[i].LeaguePoints == -1)
                        {
                            @Html.Raw("Unranked")
                        }
                        else
                        {
                            @Html.DisplayFor(model => Model.Players[i].LeaguePoints)
                        }
                    </td>
                    <td>
                        @if (Model.Players[i].TotalLevel == -1)
                        {
                            @Html.Raw("Unranked")
                        }
                        else
                        {
                            @Html.DisplayFor(model => Model.Players[i].TotalLevel)
                        }
                    </td>
                </tr>
            }
        </table>
    }
</div>
